/*general*/
*{  
  /* background-color: aqua; */
  box-sizing: border-box;
  height: auto;  
  margin: 0;
}

img{
  width: 100%;
  height: 100%;  
}

i{
  color: #b2b2b2;
  font-family: "Arial MT", Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align: left;
}

h1, h2{
  font-family: "Arial MT Bold", Arial, Helvetica, sans-serif;
  text-align: left;
}

h1{
  font-size: 23px;
  
}

h2{
  font-size: 18px;
}

p{
  font-family: "Arial MT", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: left;
}
/*id*/
#header-img{
  line-height: 0;
}

#top-image{
  margin-bottom: 5%;
}

#left-image{
  width: 50%;
  height: auto;  
}

#right-image{
  width: 50%;
  height: auto;  
}

#second-container{
  display: flex;
  
}

#top-image-content{
  padding-top: 1%;
}

#left-image-content{
  height: auto;
  width: 50%;
  padding-top: 1%;
}

#right-image-content{
  height: auto;
  width: 50%;
  padding-top: 1%;  
}

#third-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*class*/
.main-container{
  margin: 0% 5%;    
}

.img-adjust{
  height: 100%;  
}

.box-container{
  margin-bottom: 5%;
}

.space{
  width: 3%;
}

/*bars*/
#under-top-image-bar{
  background-image: linear-gradient(to right,#e5245a, #6a5ba3);
  width: 50%;
  height: 5px;
}
#under-left-image-bar{
  background-image: linear-gradient(to right,#76c6cf, #675fa6);
  width: 60%;
  height: 5px;
  
}
#under-right-image-bar{
  background-image: linear-gradient(to right,#75c7cf, #38b389);
  width: 60%;
  height: 5px;
}


